*.d51
Debug/Obj/hw_flash.pbi
*.cout
Debug/Obj/hw_flash.r51
*.pbi
*.r51
Debug/Obj/Test.pbd
*.browse
Release/Obj/Test.pbd
*.bat
settings/Test.dni
*.wsdt
settings/Test.dbgdt
*.sfr
*.eww
Test.ewd
*.ewp
Test.dep
Debug/Exe/Test.hex